
.hangon{
    width: 10px;
    height: 80px;
    background-color: black;
    margin: auto;
}
.box{
   
  width: fit-content;
    background-color: black;
    margin: auto;
    padding: 5px;
   
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(230, 230, 178);
    
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.glow{
    box-shadow: 0px 0px 20px 10px rgb(220, 220, 188);
}
